.HeaderBar {
  /* grid-area: logo; */
  position: sticky;
  top: 0;
  padding: 12px 0 0 12px;
  justify-content: center;
  height: 4em;
  z-index: 10;
  backdrop-filter: blur(3px);
  background-color: rgba(1,1,1,0.5);
  /* background-color: black; */
}

.HeaderLogo {
  position: relative;
  background: url('../Assets/Images/Logo + Name.svg') no-repeat 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 15;
  height: inherit;
  /* margin: 10px 0 0 10px; */
}

@media only screen and (max-width: 1200px) {

  .HeaderBar {
    padding: 12px;
  }

  .HeaderLogo {
    background-position: center;
    margin: 0;
  }
}

@media only screen and (max-width: 700px) {

  .HeaderBar {
    padding: 12px 0;
  }

  .HeaderLogo {
    background-position: center;
    margin: 0;
  }
}