@import "./Fonts.css";

.Work {
  text-align: center;
  min-height: 100vh;
  /* background-image: linear-gradient(transparent, black),; */
  background-color: #1B1B1B;
  box-shadow: inset 0 0 0 0.3em #7FE2DC, inset 0 0 0 0.6em #664771;
  /* background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('../Assets/Images/ikat pattern.png');
  background-size: 7em; */
}

.NavBtn {
  grid-area: navbtn;
  width: 2em;
  background-color: #664771;
}

.WorkContainer {
  padding: 5em 10em;
  grid-area: work;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
  grid-gap: 20px;
  justify-content: center;
}

.WorkItem {
  position: relative;
  flex-grow: 1;
  padding: 3em;
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: black;
}

.stackIndex-wrapper {
  display: flex;
  height: 300px;
  transition-timing-function: ease-out;
  transition: all 100ms linear;
}

.stackIndex-wrapper:hover { 
  transform: translateY(-5px);
  transition-timing-function: ease-out;
  transition: all 100ms linear;
  cursor: pointer;
}

.stackIndex-wrapper > .WorkItem > .depthBar {
  transition: all 100ms linear;
}

.stackIndex-wrapper:hover > .WorkItem > .depthBar {
  border-top-color: white;
  transition: all 100ms linear;
}

/* .stackIndex-wrapper:hover > .WorkItem > .WorkImageContainer > .WorkImage {
  transform: scale(1.05);
  transition: all 200ms linear;
} */

.depthBar {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -5px;
  box-sizing: border-box;
  border-top: 5px solid;
  border-top-color: transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
}

.WorkImageContainer {
  display: grid;
  overflow: hidden;
}

.WorkImage {
  height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 300ms ease-in-out;
}

.WorkTitleContainer {
  display: grid;
  grid-template-rows: auto auto 1fr;
  text-align: start;
  margin: 1em 0 0 0;

}

.work-title {
  /* grid-area: heading; */
  font-size: 2em;
  font-family: Inter-Bold;
  color: white;
  margin-bottom: 0;
}

.work-type {
  /* grid-area: subheading; */
  font-family: Inter-Bold;
  color: #3BE2D8;
}

.work-body {
  /* grid-area: body; */
  margin-top: 1em;
  font-family: Body-Primary;
  color: #808080;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.no-margin {
  margin: 0;
}

@media only screen and (max-width: 700px) {
  
  .Work {
    box-shadow: none;
  }

  .WorkContainer {
    margin-top: 4em;
    padding: 0;
  }

  .WorkItem {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
    padding: 1.5em;
    box-shadow: inset 0 0 0 0.3em #7FE2DC, inset 0 0 0 0.6em #664771;
  }

  .WorkTitleContainer {
    margin: 1em 0 0 0;
  }
}