.Home {
  /* text-align: center; */
  /* background-color: #1B1B1B; */
  background: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.75)), url('../../Assets/Images/ikat\ pattern.png');
  background-size: 7em;
  background-attachment: fixed;
  display: grid;
  grid-template-rows: 1px 100vh 6em 1fr 22em;
}

@media only screen and (min-width: 700px) {
  .Home {
    padding: 0 10vw;
  }
}

@media only screen and (max-width: 700px) {
  /* .Home {
    grid-template-rows: 100vh 4em 1fr;
  } */
}