.mirkwood-container {
  background: linear-gradient(rgba(0,0,0,.95), rgba(0,0,0,.95)), url('../../Assets/Images/ikat\ pattern.png');
  background-size: 7em;
  background-attachment: fixed;
  display: grid;
  grid-template-rows: 1px 1fr 20em;
  /* height: 100vh; */
}

.mirkwood-content {
  text-align: center;
  background-color: black;
  padding: 10em 10vw 5em 10vw;
}

.colorBarHorizontal {
  width: 80%;
  height: 0.3em;
  background-color: #664771;
  margin: 2em auto 0 auto;
}

.colorBarHorizontal:nth-child(even) {
  background-color: #7FE2DC;
  margin-top: 0;
}

.mirkwood-title {
  color: white;
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter-Bold;
}

.mirkwood-home {
  color: white;
  font-size: 2em;
  font-family: Inter-Bold;
}

.mirkwood-home:hover {
  color: #664771;
}

.mirkwood-subtitle {
  font-family: Body-Primary;
  font-size: 1.5em;
  color: #7FE2DC;
  /* max-width: 600px; */
  /* margin: 0; */
}

.mirkwood-body-container {
  margin-top: 5em;
}

.mirkwood-body-about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mirkwood-body-about {
  margin: 0;
  font-family: Inter-Bold;
  color: white;
  font-size: 1.5em;
}

.mirkwood-body-about-line {
  /* width: 100%; */
  flex: 1;
  overflow: hidden;
  margin: 0 0 0 1em;
  height: 3px;
  background-color: #664771;
  /* margin: 2em auto 0 auto; */
}

.mirkwood-body {
  /* margin-top: 1em; */
  font-size: 1.2em;
  font-family: Body-Primary;
  color: #808080;
  margin-bottom: 3em;
}

@media only screen and (min-width: 700px) {
  .mirkwood-container {
    padding: 0 10vw;
  }
}

@media only screen and (max-width: 700px) {
  /* .Home {
    grid-template-rows: 100vh 4em 1fr;
  } */
}

@media only screen and (max-width: 500px) {
  .mirkwood-title {
    font-size: 9em;
  }
}